#root {
  padding: 20px;
}

.app {
  display: flex;
  flex-direction: column;
}

.examples {
  display: flex;
  gap: 10px;
}

.overlay-example {
  left: calc(50vw - 200px);
  margin: 10vh 0;
  top: 0;
  width: 400px;
}
